.card-footer{
    display: flex;
}

.likeBtn{
    color: blue;
    border: none;
    background: none;
}
.like_img{
    
    width: 25px;
    height: 25px;
    border-radius: 50%;

}
.liked_user_pic{
    display: flex;
    margin: 0;
}